<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsk.ghastly" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MovieList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".item1"
            android:label="@string/title_activity_item1" >
        </activity>
        <activity
            android:name=".item2"
            android:label="@string/title_activity_item2" >
        </activity>
        <activity
            android:name=".item3"
            android:label="@string/title_activity_item3" >
        </activity>
        <activity
            android:name=".item4"
            android:label="@string/title_activity_item4" >
        </activity>
        <activity
            android:name=".item5"
            android:label="@string/title_activity_item5" >
        </activity>
        <activity
            android:name=".item6"
            android:label="@string/title_activity_item6" >
        </activity>
        <activity
            android:name=".item7"
            android:label="@string/title_activity_item7" >
        </activity>
        <activity
            android:name=".item8"
            android:label="@string/title_activity_item8" >
        </activity>
    </application>

</manifest>
